<template>
  <nav
    class="
      navbar navbar-light
      bg-white
      navbar-expand-lg
      border-bottom
      fixed-top
    "
  >
    <div class="container">
      <a class="navbar-brand" href="/"><strong>Vue</strong>Drive</a>

      <div id="search-form"></div>
    </div>
  </nav>
</template>
